---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$header-link-color: #000;
$navigation-threshold: 1030px;
$brand-color: #FF5722;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"../node_modules/vanilla-framework/scss/build",
		"base",
		"modules/header",
		"modules/box",
		"modules/slick",
		"pages/testimonials-page"
;

@include vanilla;
@include ag-base;
@include ag-header;
@include ag-box;
@include ag-slick;
@include ag-testimonials;
