@mixin ag-header {
  .banner {
    z-index: 500;

    .nav-toggle {
      background-image: url("../img/navigation-menu-plain.svg");
      z-index: 500;
      background-color: rgba(255, 255, 255, .5);
    }
  }

  @media only screen and (min-width: $navigation-threshold) {
    .banner {
      background: rgba(255, 255, 255, .5);
      border: 0;

      .nav-primary {
        max-width: $site-max-width;
        width: auto;

        ul {
          display: flex;
          width: 100%;

          li {
            border: 0;
            flex-grow: 1;

            &:last-child {
              border-right: 0;
            }
          }
        }
      }

      .nav-primary ul li a,
      .nav-primary ul li a:link,
      .nav-primary ul li a:visited {
        transition: all .3s;
        border: 0;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
        -moz-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
        -webkit-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
        text-transform: uppercase;
        letter-spacing: 1px;

        &.active {
          background: rgba(255, 255, 255, 0.75);
        }

        &:hover {
          background: rgba(255, 255, 255, 0.75);
        }
      }
    }
  }
}
