@mixin ag-pages {
  .testimonials-page {
    .page-content {
        margin-top: 12%;

      p {
        text-transform: uppercase;
      }

      h2 {
        margin-top: 2em;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  .home-page {
      background-image: url('../img/after-glow-hero-image.jpg');
      background-repeat: no-repeat;
      height: 100%;
      display: block;
      width: 100%;
      position: absolute;

      @media only screen and (min-width: 768px) {
          background-size: cover;
      }

      @media only screen and (max-width: 768px) {
          background-position: center 0;
      }

      @media only screen and (min-width: 1800px) {
        .hero-logo {
            margin-top: 20%;
        }
      }
  }

  .page-content {
      margin-top: 12%;
  }

  .gallery-page {
    @media only screen and (min-width: 768px) {
      .box {
          position: absolute;
          left: 4%;
          width: 200px;
      }
    }

      aside {
        z-index: 100;

        .logo-tag {
          margin-top: -20px;
        }
      }
  }

  .contact-page {
      a {
          color: $brand-color;
      }
  }

  .clients-page {
    .close-icon {
      position: absolute;
      right: 0;
      top: -100px;

      img {
        width: 38px;
        height: 38px;
      }

      @media only screen and (max-width: 768px) {
        display: none;
      }

      @media only screen and (max-height: $site-max-width) {
        top: -65px;
      }

    }
  }

  .bios-page {
    background: url('../img/bios.jpg') no-repeat;
    background-size: cover;

    aside {
      background: rgba(255, 255, 255, .5);
      margin-top: 50px;

    }

    .bio {
      color: white;
    }

    .inner-wrapper {
      max-width: 2100px;
    }

    .bio-name {
      text-transform: uppercase;
      font-size: 1.5em;
    }

    .chris-bio {
      margin-top: 20%;
      margin-bottom: 0;
      @media only screen and (max-width: 1500px) {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }
}
