@mixin ag-pages {
  .testimonials-page {
    .page-content {
        margin-top: 12%;

      p {
        text-transform: uppercase;
      }

      h2 {
        margin-top: 2em;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  .home-page {
      background-image: url('../img/after-glow-hero-image.jpg');
      background-repeat: no-repeat;
      height: 100%;
      display: block;
      width: 100%;
      position: absolute;

      @media only screen and (min-width: 768px) {
          background-size: cover;
      }

      @media only screen and (max-width: 768px) {
          background-position: center 0;
      }

      @media only screen and (min-width: 1800px) {
        .hero-logo {
            margin-top: 20%;
        }
      }
  }

  .page-content {
      margin-top: 12%;
  }

  .gallery-page {
      .box {
          position: absolute;
          left: 4%;
          width: 400px;
      }
  }

  .contact-page {
      a {
          color: $brand-color;
      }
  }
}
