@mixin ag-pages {
  .testimonials-page {
    .page-content {
        margin-top: 12%;

      p {
        text-transform: uppercase;
      }

      h2 {
        margin-top: 2em;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  .home-page {
      background-repeat: no-repeat;
      height: 100%;
      display: block;
      width: 100%;
      position: absolute;

      @media only screen and (min-width: 768px) {
          background-image: url('../img/after-glow-hero-image.jpg');
          background-size: cover;
      }

      @media only screen and (max-width: 768px) {
          background-position: center 0;
      }

      @media only screen and (min-width: 1800px) {
        .hero-logo {
            margin-top: 20%;
        }
      }
  }

  .page-content {
      margin-top: 12%;
  }

  .gallery-page {
    @media only screen and (min-width: 768px) {
      .box {
          position: absolute;
          left: 4%;
          width: 200px;
      }
    }

    .florence-front-page {
      font-family: 'Petit Formal Script', cursive;
      color: #3f301f;
      position: absolute;
      top: 140px;
      z-index: 1000;
      margin-left: 80px;
    }

    .florence-end-page {
      position: absolute;
      bottom: 170px;
      margin-left: 80px;
      font-size: 1.4em;
    }
  }

  .contact-page {
      a {
          color: $brand-color;
      }
  }

  .clients-page {

    .client__image-text {
      position: relative;
      background-color: rgba(255, 255, 255, 0.7);
      top: -40px;
      padding: 10px;
    }
    .close-icon {
      position: absolute;
      right: 0;
      top: -100px;
      transition: transform .3s ease-in-out;
      transform: rotate(0deg);

      img {
        width: 38px;
        height: 38px;
      }

      &:hover {
        transform: rotate(180deg);
      }

      @media only screen and (max-width: 768px) {
        display: none;
      }

      @media only screen and (max-height: $site-max-width) {
        top: -65px;
      }

    }
  }

  .bios-page {
    background: url('../img/bios.jpg') no-repeat;
    background-size: cover;

    aside {
      background: rgba(255, 255, 255, .5);
      margin-top: 50px;

    }

    .bio {
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px;
    }

    .inner-wrapper {
      max-width: 2100px;
    }

    .bio-name {
      text-transform: uppercase;
      font-size: 1.5em;
    }

    .chris-bio {
      margin-top: 20%;
      margin-bottom: 0;
      @media only screen and (max-width: 1500px) {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }
}
